extends layout

block content
  h1= title
  p Welcome to #{doc.title}
  p Загрузка
  form(method='get', action='/load_receipt')
    Файл с рецептами
    input( name='nameFile'  type='file')
    p Отбор записей - Период с по
    div
      input( name='idate_b' value='#{doc.idate_b}' type='date')
      input( name='idate_e' value='#{doc.idate_e}' type='date')
    div
      button( type='submit') Загрузить DBF файл в базу данных
  p Контроль
  form(method='get', action='/control_medicament')
    div
      button( type='submit') Проверить медикаменты на заполнение кодов ФР7Н
  p Выгрузка
  form(method='get', action='/make_xml')
    p Период с по
    input( name='date_b' value='#{doc.date_b}' type='date')
    input( name='date_e'   value='#{doc.date_e}' type='date')
    div
      button( type='submit') Формировать XML файл ФР7Н
